#d1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzsPa2n7lDLmH0YmFALMmSDJzDQ1wEJpn39A&s");
    background-repeat: no-repeat;
    background-size: cover;
}
#d3{
    background-image: url("https://t3.ftcdn.net/jpg/09/37/66/02/240_F_937660228_yiu1MDKSKyp10b1dgPIOnConuLwLE6xb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#d4{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSacu_jraXWL9ogg3qfWuX_ry2TO96EjhZCRg&s");
    background-repeat: no-repeat;
    background-size: cover;
}
