#d2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT10JlRq8Uh9uAiJn3Y8rqtt4BP1ApTyoZG22r9m9DpN-l7EWAyf_WhDTcYZnwATLW_dds&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}
